@import "normalize";

$font-stack:    Helvetica, sans-serif;
$primary-text-light: white;
$primary-text-dark: black;
$primary-background: yellowgreen;
$body-background: black;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background: $body-background;
  color: $primary-text-light;
  font: 100% $font-stack;
  padding-top: 50px;
}

header {
  background: $primary-background;
  color: $primary-text-dark;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.content {
  @include border-radius(10px);
  background: $primary-background;
  margin: auto;
  max-width: 80%;
  padding: 20px;
  position: relative;
  text-align: center;
  top: 50px;
}

#showNum {
  color: $primary-text-dark;
}

#showTranslation {
  color: $primary-text-dark;
}

button {
  @include border-radius(10px);
  background: black;
  border: 0;
  color: white;
  margin: 10px;
  padding: 20px;
}
